<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Work</title>

    <!--css files-->
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/mdb.min.css">
    <link rel="stylesheet" href="../assets/css/style.css">

</head>
<body>

<header>
    <!--Navbar-->
    <nav class="navbar navbar-dark">
        <div class="container">
                <!--Navbar Brand-->
                <a class="navbar-brand" href="#" target="_blank">ty<b class="logo-dot">.</b></a>
                <!--Links-->
                <ul class="nav navbar-nav pull-xs-right pull-sm-right pull-md-right">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Work</a>
                    </li>

                </ul>

        </div>

    </nav>
    <!--/.Navbar-->
</header>


<!--start of content area-->
<main>
    <!--Main layout-->
    <div class="container">
        <!--First row-->
        <div class="row">
            <!--First column-->
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
                <!--Card-->
                <!--logo card-->
                <div class="card">
                    <div class="card-block">
                        <!--Title-->
                        <h4 class="card-title">Card title</h4>
                        <!--Text-->
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <div class="read-more">
                            <button class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">View Project</button>
                        </div>
                    </div>
                    <!--/.Card image-->
                </div>
                <!--/.Card-->
                <!--contact card-->
                <!--Card-->
                <div class="card contact-card">
                    <!--details overlay content-->
                    <div class="card-block">
                        <!--Title-->
                        <h4 class="card-title">Card title</h4>
                        <!--Text-->
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <div class="read-more">
                            <button class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">View Project</button>
                        </div>
                    </div>
                    <!--/.Card content-->
                </div>
                <!--/.Card-->
            </div>
            <!--/.First column-->

            <!--Second column-->
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
                <!--Card-->
                <div class="card">
                    <!--Card content-->
                    <div class="card-block">
                        <!--Title-->
                        <h4 class="card-title">Card title</h4>
                        <!--Text-->
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <div class="read-more">
                            <button class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">View Project</button>
                        </div>
                    </div>
                    <!--/.Card content-->
                </div>
                <!--/.Card-->
                <div class="card contact-card">
                    <!--Card content-->
                    <div class="card-block">
                        <!--Title-->
                        <h4 class="card-title">Card title</h4>
                        <!--Text-->
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <div class="read-more">
                            <button class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">View Project</button>
                        </div>
                    </div>
                    <!--/.Card content-->
                </div>
                <!--/.Card-->
            </div>
            <!--/.Second column-->

            <!--Third column-->
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
                <!--Card-->
                <div class="card">
                    <div class="card-block">
                        <!--Title-->
                        <h4 class="card-title">Card title</h4>
                        <!--Text-->
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <div class="read-more">
                            <button class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">View Project</button>
                        </div>
                    </div>
                    <!--/.Card image-->
                </div>
                <!--/.Card-->

                <!--Card-->
                <div class="card quote-card">
                    <!--Card content-->
                    <div class="card-block">
                        <!--Title-->
                        <h4 class="card-title">Card test</h4>
                        <!--Text-->
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <div class="read-more">
                            <button class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">View Project</button>
                        </div>
                    </div>
                    <!--/.Card content-->

                </div>
                <!--/.Card-->
            </div>
            <!--/.Third column-->

        </div>
        <!--/.First row-->

    </div>
    <!--/.Main layout-->
</main>

<!--start of footer content-->
<footer>
    <span class="footer-text">&copy; Tyrone Swinnie all rights lost</span>
</footer>


<!--modal content-->
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="container work-container">
                <div class="row">
                    <div class="col-m-12 col-lg-9 col-xl-9">
                        <div class="card work-image-card">
                            <!--details overlay content-->
                            <div class="card-block">
                                <!--Title-->
                                <h4 class="card-title">Card title</h4>
                                <!--Text-->
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <div class="read-more">
                                </div>
                            </div>
                            <!--/.Card content-->
                        </div>
                    </div>

                    <!--second column-->
                    <div class="col-m-3 col-lg-3 col-xl-3">
                        <div class="card work-image-detail-card">
                            <!--details overlay content-->
                            <div class="card-block">
                                <!--Title-->
                                <h4 class="card-title">Card title</h4>
                                <!--Text-->
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <div class="read-more">
                                </div>
                            </div>
                            <!--/.Card content-->
                        </div>
                        <div class="card work-image-detail-card">
                            <!--details overlay content-->
                            <div class="card-block">
                                <!--Title-->
                                <h4 class="card-title">Card title</h4>
                                <!--Text-->
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <div class="read-more">
                                </div>
                            </div>
                            <!--/.Card content-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!--js files-->
<script src="../assets/js/jquery-2.2.3.min.js"></script>
<script src="../assets/js/tether.min.js"></script>
<script src="../assets/js/bootstrap.min.js"></script>
<script src="../assets/js/mdb.min.js"></script>
</body>
</html>